@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your global CSS file (e.g., globals.css) */
.ant-menu-item-selected{
    background-color: #6366F1 !important;
}

.ant-menu {
  background: #121621;
}

.ant-layout-sider-trigger {
  background-color: #323240 !important; /* Set your desired background color */
  color: white !important; /* Optional: Change the text/icon color */
}
.ant-layout-sider-children{
  background: #121621 !important;
}

/* Optional: Adjust hover effect for the collapse button */
.ant-layout-sider-trigger:hover {
  background-color: #3e3e4f !important; /* Set a different color on hover if needed */
}

.ant-spin-dot-item {
  background-color: #10b981 !important; /* Tailwind's green-500 */
}

.jodit-wysiwyg{
  padding:15px 25px !important;
}

.jodit-ui-group_group_other{
display: none !important;
}

.jodit-ui-group{
  background-color: #F4F4F5 !important;
}

.jodit-container{
  margin-top: 15px;
}

.css-hlgwow{
  padding: 6px !important;
}
.css-13cymwt-control{
  padding: 6px !important;
}
.css-t3ipsp-control{
  padding: 6px !important;
}
.css-13cymwt-control{
  background-color:#F4F4F5 !important
}